<footer>
        <nav class="navigation">
            <a href="nieuw-west" class="link-button">Nieuw-west</a>
            <a href="zuidoost" class="link-button">Zuidoost</a>
            <a href="oost" class="link-button">Oost</a>
            <a href="archief" class="link-button">Archief</a>
        </nav>
        <ul class="socials">
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>