    {% render 'partials/head.liquid'%}

    <main>
        <section class="algemeen-nieuwsbrief">
            <div class="algemeen-nieuwsbrief-inner">

            </div>
            <div class="img-div">
                
            </div>
        </section>

        <section class="laatste-nieuws">
            
        </section>
    </main>

    {% render 'partials/foot.liquid'%}
