    {% assign mobile_logo = "/assets/logo-compact-home.svg" %}
    {% assign desktop_logo = "/assets/logo-lang-home.svg" %}
    
    {% render 'partials/head.liquid',
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}

    <main>
        <section class="algemeen-nieuwsbrief">
            <div class="algemeen-nieuwsbrief-inner">
                <div class="label">algemeen</div>
                <h1>
                    Suzan Baldinger, projectleider Opgroeiwijken: ‘Samen bouwen we aan een betere toekomst voor de kinderen in Geuzenveld en Slotermeer’
                </h1>
                <h2>
                    In Geuzenveld en Slotermeer speelt Suzan Baldinger, projectleider van de Opgroeiwijken in Amsterdam Nieuw-West, een cruciale rol. Samen met de Buurtcampus en andere partners werkt ze aan het versterken van de pedagogische netwerken voor kinderen in de buurt. De pedagogische allianties Opgroeiwijken Geuzenveld en Slotermeer dragen zo bij aan een veerkrachtige opvoedomgeving.
                </h2>
                <div class="article-text">
                
                    <p>De kerngroep van deze alliantie in Geuzenveld bestaat naast de Buurtcampus uit vier basisscholen, kinderopvangorganisatie Impuls, het Ouder- en Kindteam, jongerenorganisatie DOCK, de Openbare Bibliotheek Amsterdam en de Buurtwerkkamer. Daarnaast zijn veel andere organisaties uit de wijk aangehaakt. Jaarlijks organiseren ze de Week van de Opgroeiwijk, waarin een gevarieerd programma wordt aangeboden voor ouders, kinderen en professionals, en waarin behoeften en ervaringen uit de wijk worden verzameld.</p>
                
                    <p>Suzan is gepassioneerd over de samenwerking. Haar favoriete Buurtcampus-moment? ‘Ik heb er eigenlijk drie!’ zegt ze. ‘Maar als ik moet kiezen, dan denk ik aan de laatste Meet-up. Het was een mooie middag vol nieuwe gezichten, goede gesprekken en een sterk inhoudelijk programma. Dat soort ontmoetingen brengen écht iets teweeg.’</p>

                    <p>De samenwerking tussen de Opgroeiwijken en de Buurtcampus is uniek. Ze organiseren activiteiten die bewoners, scholen en organisaties uit de wijk met elkaar verbinden. Het doel is om meer kansen te creëren voor kinderen en gezinnen. Dat gebeurt bijvoorbeeld tijdens interactieve sessies zoals de Toekomsttafel, waarbij bezoekers met elkaar in gesprek gaan over thema’s als polarisatie, talentontwikkeling en het schoolaanbod. ‘Samen faciliteren we ontmoetingen, verbindingen en netwerken rond kinderen en gezinnen,’ zegt Suzan. ‘Daarmee vergroten we hun ontwikkelingskansen.’</p>

                    <p>De rol van de Buurtcampus is gericht op het verbinden van studenten, onderzoekers en docenten van de HvA met lokale partners en bewoners. Sanne Rumping, onderzoeker bij de HvA, presenteerde bijvoorbeeld tijdens de Week van de Opgroeiwijk haar gesprekstool ‘Opvoeden in de Buurt’, bestaande uit een kaartspel en een slideshow. Sanne: ‘De samenwerking met de Buurtcampus gaf me als onderzoeker de kans om mijn gesprekstool onder de aandacht te brengen bij verschillende wijkpartners. Het was geweldig om te zien hoe enthousiast organisaties reageerden, en het werd duidelijk hoe de samenwerking met ouders en professionals in de wijk versterkt kan worden. Dit soort samenwerkingen is essentieel om mijn onderzoek verder te brengen, en ik kan op deze manier echt iets betekenen voor de buurt. Tijdens de sessie konden deelnemers ervaren hoe de tool werkt, zodat ze er direct mee aan de slag kunnen.’</p>

                    <p>Suzan is blij met het brede aanbod van de Buurtcampus. Stiekem zou ze zelf ook wel eens een activiteit willen volgen. Suzan: ‘De Rechtvaardige Stad klinkt ontzettend interessant, vooral gezien de uitdagingen rondom polarisatie. Hoe kunnen we middelen eerlijk verdelen, en wat betekent dat eigenlijk in de praktijk? Dat soort thema's spreekt me enorm aan.’</p>

                    <p>Met projecten zoals de Bonusklas en de Keukentafel, beide geïnitieerd door de Buurtcampus, wordt er samen met lokale partners gewerkt aan een wijk waarin iedereen zich thuis voelt en zich kan ontwikkelen. Suzan kijkt dan ook met een positieve blik naar de toekomst: ‘Over vijf jaar zie ik een wijk waarin we nog nauwer samenwerken. We willen bewoners en kinderen een sterkere stem geven in de keuzes die we maken, zodat ze mede-eigenaar worden van de initiatieven in de wijk. Co-creatie met ouders en kinderen zou een integraal onderdeel moeten zijn van ons werk. Het zou fantastisch zijn als we tegen die tijd een sterk, lokaal netwerk hebben waarin iedereen elkaar weet te vinden, bewoners actief betrokken zijn en we samen bouwen aan een betere toekomst voor de kinderen van Geuzenveld en Slotermeer.’</p>
                
                </div>

                <div class="img-div">
                    
                </div>
            </div>
        </section>

        <section class="laatste-nieuws">
            
        </section>
    </main>

    {% render 'partials/foot.liquid'%}
