    {% assign mobile_logo = "/assets/logo-compact-.svg" %}
    {% assign desktop_logo = "/assets/logo-lang-.svg" %}

   {% render 'partials/head.liquid'%}

    <main class="main-nieuw-west">

        <section class="section-cards">
            <div class="cards">
                {% for story in stories %}
                    {% render 'partials/card.liquid', story: story, categories: categories %}
                {% endfor %}
            </div>
        </section>

    </main>
    
    {% render 'partials/foot.liquid'%}